<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walinns.walinnsinnovation.waltics_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.walinns.walinnsinnovation.waltics_test.MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.walinns.walinnsinnovation.waltics_test.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.walinns.walinnsinnovation.waltics_test.Splashscreen"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.walinns.walinnsinnovation.waltics_test.HomeScreen" />
        <activity android:name="com.walinns.walinnsinnovation.waltics_test.AddNoteActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.walinns.walinnsinnovation.waltics_test.ListNoteActivity"></activity>
          <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="84R-987-6Z5Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="abc-24b" />
        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="MainActivity, MainActivity" />

    </application>

</manifest>